body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:500px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2502 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:500px;
}
#u2503 {
  position:absolute;
  left:2px;
  top:242px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:35px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339966;
}
#u2504 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:35px;
  color:#339966;
}
#u2505 {
  position:absolute;
  left:2px;
  top:10px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2506 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u2507 {
  position:absolute;
  left:2px;
  top:8px;
  width:306px;
  word-wrap:break-word;
}
#u2508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2508 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2508_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2508.mouseDown {
}
#u2509 {
  position:absolute;
  left:0px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u2510 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:463px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#0099FF;
  line-height:24px;
}
#u2511 {
  position:absolute;
  left:0px;
  top:35px;
  width:308px;
  height:463px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#0099FF;
  line-height:24px;
}
#u2512 {
  position:absolute;
  left:20px;
  top:80px;
  width:268px;
  word-wrap:break-word;
}
#u2513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u2513 {
  position:absolute;
  left:16px;
  top:166px;
  width:275px;
  height:91px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u2514 {
  position:absolute;
  left:2px;
  top:16px;
  width:271px;
  word-wrap:break-word;
}
#u2515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2515 {
  position:absolute;
  left:0px;
  top:328px;
  width:308px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u2516 {
  position:absolute;
  left:2px;
  top:11px;
  width:304px;
  word-wrap:break-word;
}
#u2517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5DAB9E;
}
#u2517 {
  position:absolute;
  left:0px;
  top:368px;
  width:308px;
  height:40px;
  font-size:14px;
  color:#5DAB9E;
}
#u2518 {
  position:absolute;
  left:2px;
  top:11px;
  width:304px;
  word-wrap:break-word;
}
